/* src/styles.css */
@import "tailwindcss";


/* ================================
    THEME COLORS + GLOBAL FONT
================================ */
:root {
  --clr-white: #fafafa;
  --clr-light: #ffffff;
  --clr-gray: rgb(255, 255, 255);
  --clr-dark: #1a1a1c;
  --clr-black: #000;

  --font-main: "Exo 2", sans-serif;
  
  /* CSS Variables for Starfield Shadows (Fixing SASS variables) */
  --shadows-small: #FFF 1px 1px 0px, #FFF -1px -1px 0px;
  --shadows-medium: #FFF 2px 2px 0px, #FFF -2px -2px 0px;
  --shadows-big: #FFF 3px 3px 0px, #FFF -3px -3px 0px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-main);
}

#app {
  position: relative;
  z-index: 1;
}


.hero, .section {
  background: transparent !important;
}

.page-section {
  box-sizing: border-box;
}


/* ================================
    TYPOGRAPHY
================================ */

h1 {
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 2rem);
  color: var(--clr-white);
  text-shadow: 0 0 15px rgba(113, 113, 113, 0.445);
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: var(--clr-light);
  letter-spacing: -0.02em;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--clr-gray);
  margin-bottom: 1rem;
}

.description {
  font-weight: 350;
  font-size: 1.05rem;
  color: var(--clr-light);
  opacity: 0.85;
}

span {
  font-weight: 400;
  color: var(--clr-white);
}

span.light {
  color: var(--clr-gray);
  font-weight: 300;
}

span.bold {
  color: var(--clr-white);
  font-weight: 600;
}


/* ================================
    BUTTONS
================================ */

.btn {
  font-family: var(--font-main);
  font-weight: 500;
  padding: 0.75rem 1.6rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
}

.btn-white {
  background: var(--clr-white);
  color: var(--clr-dark);
  border: 1px solid var(--clr-light);
}

.btn-white:hover {
  background: var(--clr-light);
}

.btn-dark {
  background: var(--clr-dark);
  color: var(--clr-white);
}

.btn-dark:hover {
  background: var(--clr-black);
}

